section:-webkit-full-screen {
  float: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0 none;
  z-index: 0 !important;
  background-color: #ff0000;
}
section:-moz-full-screen {
  float: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0 none;
  z-index: 0 !important;
}
section:-ms-full-screen {
  float: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0 none;
  z-index: 0 !important;
}
section:-o-full-screen {
  float: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0 none;
  z-index: 0 !important;
}
section:full-screen {
  float: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0 none;
  z-index: 0 !important;
}
.fullscreen #glContainer {
  margin-left: 0;
}
.fullscreen #menu {
  position: absolute;
  top: 20px;
  left: 25px;
}
.fullscreen #leftControls {
  width: 200px;
  height: 25px;
  position: absolute;
  top: 190px;
  left: 25px;
  z-index: 2147483647;
}
.fullscreen #rightControls {
  height: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2147483647;
}
.fullscreen #rightControls #fullscreen {
  background: url('../images/fullscreen-off.svg');
}
.fullscreen #text #preloader {
  top: 50%;
}
.fullscreen #text #bottomText {
  top: initial;
  top: 81%;
}
.fullscreen #text #bottomText p {
  font-size: 18px;
}
