#menu {
  position: absolute;
  top: 135px;
  left: 25px;
  z-index: 2147483647;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu ul li {
  position: relative;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-left-width: 0;
  border-left-style: solid;
  border-color: #bbbbbb;
  padding: 0px 0 0 10px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  height: 24px;
  line-height: 24px;
}
#menu ul li:hover {
  border-color: #00a1dd;
}
#menu ul li .menuItemSwipe {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  color: #bbbbbb;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  visibility: visible !important;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
#menu ul li .menuItemSwipe span {
  display: block;
  position: absolute;
  left: 0;
  top: -1px;
  padding: 2px 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  line-height: 19px;
}
#menu ul li .menuItemSwipe span:before {
  content: attr(rel);
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  padding: 0;
  color: #00a1dd;
}
#menu ul li .menuItemSwipe:hover span {
  width: 100%;
}
