#leftControls {
  width: 200px;
  height: 25px;
  position: absolute;
  top: 300px;
  left: 25px;
  z-index: 2147483647;
}
#leftControls ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#leftControls ul li {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  padding: 4px;
}
#leftControls ul li #audio {
  background: url('../images/audio-on.png');
  width: 22px;
  height: 16px;
  -webkit-appearance: none;
  border: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  outline: 0;
}
#leftControls ul li #audio:checked {
  background: url('../images/audio-off.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 22px;
  height: 16px;
}
#rightControls {
  height: 25px;
  position: absolute;
  top: 130px;
  right: 25px;
  z-index: 2147483647;
}
#rightControls #fullscreen {
  width: 16px;
  height: 16px;
  background: url('../images/fullscreen-on.png');
  -webkit-appearance: none;
  background-size: 100%;
  background-repeat: no-repeat;
  outline: 0;
  border: 0;
}
#rightControls #fullscreen:checked {
  background: url('../images/fullscreen-off.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
/*
#controls {
	position: absolute;
	top: 140px;
	right: 30px;

	button {
		@size: 16px;

		-webkit-appearance: none;
		border: 0;
		padding: 6px;
		border-radius: 4px;
		color: #666;
		//		background: #eee;
		outline:0;
		width: @size;
		height: @size;
		//		border-radius: @size / 2;
		font-size: 1em;
		line-height: 1em;
		text-transform: uppercase;
		font-weight: 100;
		margin: 0 8px;
		opacity: .1;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-ms-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
		transition: all .25s ease-in-out;

		&:hover {
			opacity: .75;
			//			background: @color;
			//			color: white;
		}

		&:active {
			position: relative;
			top: 2px;
		}
	}

	#fullscreen {
		background: url('../images/fullscreen.png');
	}

	#audio {
		background: url('../images/audio.png');
	}

	#fullscreen,
	#audio {
		background-size: 100%;
		background-repeat: no-repeat;
	}
}*/
