body.fb {
  background: url('/ww/universal/ll/images/ll-bg.png');
  background-size: cover; 
  overflow: hidden;
}


#text #bottomText #stats {
  position: relative;
  top: 69px;
  text-align: center;
  width: 100%;
  font-weight: 200;
  font-size: 1em;
  color: #75787b;
  display: none;
  opacity: 0;
  height: 63px;
  line-height: 1em;
  z-index: 2147483647;
  margin: 0 auto;
}

.slide_container{
  position: relative;
  
}

.slide_container .tc{
border: 0px solid;
    display: block;
    height: 13px;
    left: 643px;
    position: absolute;
    top: 177px;
    width: 43px;
}

